<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel | Inventario</title>
    <link rel="stylesheet" href="/assets/css/estilos.css" type="text/css">
</head>
<body>
    <div class="container-dashboard">
        <div class="sidebar">
            <h2 class="titulo">TuInventario</h2>

            <img class="avatar-profile" src="/assets/img/avatar.webp" alt="">

            <button class="boton btn-agregar">Agregar Producto</button>
            <button class="boton btn-actualizar">Actualizar Tabla</button>
            <button class="boton btn-cerrar">Cerrar sesion</button>
        </div>
    </div>
        
        <div class="box-content">
            <div class="box-titulo">
                <h2>Productos</h2>
            </div>
            <table class="tabla-productos">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Producto</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>martillos</td>
                        <td>20</td>
                        <td>martillos</td>
                        <td>martillos</td>
                        <td>20</td>
                        <td>martillos</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="assets/js/dashboard.js" type="module"></script>
</body>
</html>